.galleryBox {
    display: flex;
    align-items: center;
}

.galleryBox img {
    border-radius: 10px;
}

.galleryBox .mainImg {
    height: 460px;
    width: 350px;
    object-fit: contain;
}

.photosList {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
    row-gap: 10px;
    margin-left: 10px;
}

.photosList img {
    width: 150px;
    height: 200px;
    object-fit: contain;
    cursor: pointer;
}

.selected {
    opacity: 0.5;
}