@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  text-decoration: none;
  color: #343434;
}

body {
  overflow-x: hidden;
  background-color: #FFEBD9;
  background-image: url("/pattern.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100dvw;
  height: 100dvh;
}

a:visited {
  text-decoration: none;
  color: #343434;
}

p {
  line-height: 150%;
}

h1 {
  font-size: 32px;
}

span {
  color: #BF2F21;
}