.heroBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10vw;
    margin-top: -80px;
}

.heroTitle {
    font-weight: 800;
    font-size: 64px;
}

.heroTitle span {
    color: #BF2F21;
}

.heroImg {
    width: 800px;
    z-index: 10;
    animation: spin 25s linear infinite;
    margin-right: -20%;
}


.actionBtn {
    background-color: #BF2F21;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 12px 40px;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
