.heroBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10vw;
    margin-top: -80px;
}

.heroTitle {
    font-weight: 800;
    font-size: 64px;
}

.heroTitle span {
    color: #BF2F21;
}

.heroImg {
    width: 800px;
    z-index: 10;
    animation: spin 25s linear infinite;
    margin-right: -20%;
}


.actionBtn {
    background-color: #BF2F21;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 12px 40px;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 20px;
}

.textLine {
    width: 100%;
    overflow: hidden;
    background-color: #BF2F21;
    height: 80px;
    display: flex;
    align-items: center;
}

.textLine span {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation: infinite-running-text 100s linear infinite;
    color: white;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1.5rem;
}

.galleryBox {
    display: flex;
    align-items: center;
    padding: 100px 10vw;
    justify-content: space-between;
}

.galleryBox .galleryInfo {
    width: 400px;
}

@keyframes infinite-running-text {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}